*.egg-info
.idea
.claude
outputs
logs
wandb
MUJOCO_LOG.TXT
deploy/robots/go2/build
deploy/robots/g1/build
deploy/robots/g1_23dof/build
deploy/robots/h1_2/build

logs/*

!logs/rsl_rl/go2_velocity/2026-02-06_23-07-57/model_20000.pt
!logs/rsl_rl/go2_velocity/2026-02-06_23-07-57/policy.onnx
!logs/rsl_rl/go2_velocity/2026-02-06_23-07-57/policy.onnx.data
!logs/rsl_rl/go2_velocity/2026-02-06_23-07-57/params/*



